composer.lock
vendor/
.idea/
.idea/dictionaries/randy.xml
.idea/dictionaries/randy.xml
.idea/laraComments.iml
.idea/php.xml
.idea/workspace.xml
.idea/dictionaries/randy.xml
.idea/laraComments.iml
.idea/php.xml
.idea/workspace.xml
